

@media screen and (max-width: 1199px) {
    .blockContainer {
        max-width: unset;
        min-width: unset;
        margin: 0px;
        padding: 0px 15px;
    }
    .blockContent .listProduct__item {
        width: calc(100% / 2 - 50px);
    }
    .blockContent .listProduct__item:nth-child(3n) {
        margin: 0px 20px 20px 0px;
    }
    .blockContent .listProduct__item:nth-child(2n) {
        margin: 0px 0px 20px 0px;
    }
    .blockHeader {
        top: 0;
        left: 0;
        height: 100%;
        width: 50px;
        background: #FFF;
    }
    .blockHeader .blockContainer {
        padding: 0px;
    }
    .blockHeader .blockMenu__listCate {
        flex-direction: column;
    }
    .blockHeader__wrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .blockLogo {
        width: 100%;
        height: 40px;
        justify-content: center;
        margin: 10px 0px;
    }
    .blockMenu .item__nameCate {
        flex-direction: column;
        padding: 0px;
    }
    .blockMenu {
        width: 100%;
    }
    .blockMenu .blockMenu__listCate {
        width: 100%;
        justify-content: flex-start;
    }
    .blockMenu .blockMenu__listCate--item {
        width: 100%;
        height: 60px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blockMenu__listCate--item:last-child {
        margin: 0px;
    }
    .blockMenu .item__nameCate .item__nameCate--text {
        display: none;
    }
    .blockMenu .item__nameCate .item__nameCate--img {
        display: block;
        filter: invert(0.5);
    }
    .blockMenu .item__nameCate.active {
        background: transparent;
    }
    .blockMenu .item__nameCate.active .item__nameCate--img {
        filter: invert(0);
    }
    .blockMenu__listCate--item .item__nameCate {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blockMenu__listCate--item:hover .item__nameCate {
        border-radius: 0px;
    }
    .blockMenu__listCate--item .item__listChild {
        top : 0px;
        left: 40px;
    }
    .blockMenu__listCate--item:hover .item__listChild {
        top : 0px;
        left: 60px;
    }
    ::-webkit-scrollbar {
        width: 0px !important;
    }
    .blockContent .listProduct__item {
        box-shadow: none !important;
    }
    .blockLogo .blockLogo__wrap {
        width: 25px;
        height: 25px;
    }
    .blockLogo .blockLogo__wrap--img {
        width: 18px;
        height: 18px;
    }
    .blockContent .blockContent__wrapContent--listPage {
        padding: 20px 0px 100px 50px;
    }
}
@media screen and (max-width: 991px) {
    
}
@media screen and (max-width: 767px) {
    .blockContent .listProduct__item {
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
    .blockContent .listProduct__item:nth-child(3n) {
        margin: 0px 0px 20px 0px;
    }
}
@media screen and (max-width: 479px) {
   
}   
@media screen and (max-width: 374px) {
    
}
@media screen and (max-width: 319px) {
   
}
