/* LARGE SCREEN */
@media screen and (min-width: 1824px) {
    .tabContent .listProduct__product {
        width: calc(100% / 5 - 20px);
    }
}
@media screen and (max-width: 1200px) {
    ::-webkit-scrollbar {
        width: 5px;
    }
    .tabNav {
        position: fixed;
        bottom: -1px;
        width: 100%;
        height: 70px;
        z-index: 10;
        background : rgba(2,184,252,0.9);
    }
    .tabNav .tabNav__page {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0px 15px;
    }
    .tabContent {
        width: 100%;
        padding: 50px 0px 100px 0px;
    }
    .tabContent .listProduct__product {
        width: calc(100% / 3 - 20px);
    }
    .tabContent .titleProduct__text {
        font-size: 2rem;
        text-align: center;
        line-height: 30px;
    }
    .tabContent .product__name {
        font-size: 1.75rem;
    }
    .backgroundLoad.hdLoad {
        width: 50px;
        height: 50px;
        top: 5px;
        left: 5px;
    }
    .tabContent .item__listContact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pageOrder iframe {
        width: 100vw;
    }
}
@media screen and (max-width: 992px) {
    .tabContent .listProduct__product {
        width: calc(100% / 2 - 20px);
    }
    .tabContent .titleProduct__text {
        font-size: 1.5rem;
        text-align: center;
    }
    .tabContent .product__name {
        font-size: 1.25rem;
    }
    .formOrder__form {
        width: 450px;
    }
}
/* SMALL DEVICE ROTATE */
@media screen and (orientation:landscape) and (max-width: 992px) {

}
/* SMALL DEVICE */
@media screen and (max-width: 479px) {
    .tabContent .item__listContact {
        padding: 10px 5px;
    }
    .tabContent .item__listProduct {
        padding: 0px;
        margin: 20px 0px;
    }
    .tabContent .listProduct__product {
        width: calc(100% / 2 - 5px);
        height: 250px;
        margin: 2.5px;
    }
    .tabContent .product__img {
        height: 125px;
    }
    .tabContent .product__name {
        font-size: 0.9rem;
    }
    .tabContent .product__info {
        height: 215px;
    }
    .tabContent .product__info .info__text {
        font-size: 0.7rem;
        line-height: 20px;
    }
    .listContact__formOrder {
        width: calc(100% - 15px);
    }
    .formOrder__form {
        width: 100%;
    }
    .tabContent .item__text {
        font-size: 0.9rem;
    }
    .tabContent .stocking__text {
        font-size: 0.7rem;
        line-height: 22px;
    }
}
/* VERY SMALL */
@media screen and (max-width: 374px) {
    .tabContent .listProduct__product {
        width: 100%;
        height: 290px;
        margin: 2.5px;
    }
}
